@font-face {
    font-family: Bebas Neue;
    src: url(../font/BebasNeue-Regular.subset-AZa-z-0-9-punct-percent.woff2);
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: Kuunari;
    src: url(../font/kuunari-bold-subset.v2.woff2);
    font-display: swap;
    font-weight: 700;
}